## Operators

We are now going to explore **_Operators_**. They are single or bi character symbols represent a specific type of operation, say addition, multiplication or comparision. 

Python provides many types of **operators**. We will explore them based on their functionality namely. 

- Arithmetic Operators
- Assignment Operators
- Relational Operators
- Logical/Boolean Operators
- Bitwise Operators
- Union Operator

### Arithmetic Operators

Python supports all most common maths operations as shown in the below table

| Syntax 	| Math 	| Operation Name 	|
|--------------	|-------------------------------------------	|------------------------------------------------------------------	|
| `a + b` 	| a + b 	| addition 	|
| `a - b` 	| a - b 	| subtraction 	|
| `a * b` 	|  a \* b   | multiplication 	|
| `a / b`	|  a \div b  | division (see note below) 	|
| `a // b` 	|  a//b 	| floor division (e.g. 5//2=2) 	|
| `a % b` 	|  a % b 	| modulo 	| 
| `-a` 	| -a | negation 	| 
| abs(a)| <code>&#124; a &#124;</code>	| absolute value 	|
| a**b 	| a**b 	| exponent 	|
| math.sqrt(a) 	|  sqrt a  	| square root 	|

> **<center>Note</center>**
> In order to use `math.sqrt()` function, you must explicitly load the math module by adding ```import math``` at the top of your file, where all the other modules import's are defined.

We will explore the below operators with various primary data types

#### Numeric Vs Numeric

Following mathemetical operations are supported in python between numeric data

In [3]:
a = 21.8
b = 10

print("a =", a, ", b =", b)
print("~~~~~~~~~~~~~~~~~")
print("a + b:\t", a + b)
print("a - b:\t", a - b)
print("a * b:\t", a * b)
print("a / b:\t", a / b)

a = 21.8 , b = 10
~~~~~~~~~~~~~~~~~
a + b:	 31.8
a - b:	 11.8
a * b:	 218.0
a / b:	 2.18

In [4]:
print("a//b:\t", a//b)
print("a % b:\t", a % b)
print("a**b:\t", a**b)
print("-a:\t", -a)

a//b:	 2.0
a % b:	 1.8000000000000007
a**b:	 24241804027823.29
-a:	 -21.8

In [5]:
x = -10
print("abs(x):\t", abs(x))
import math
print("sqrt(a):", math.sqrt(a))

abs(x):	 10
sqrt(a): 4.669047011971501

##### Relational Operators

In [3]:
a = 10.26
b = 22

print("a < b:\t", a < b)
print("a > b:\t", a > b)
print("a <= b:\t", a <= b)
print("a >= b:\t", a >= b)

a < b:	 True
a > b:	 False
a <= b:	 True
a >= b:	 False

#### Numeric Vs String

In [4]:
a = "~"
b = 22
print("a =", a, ", b =", b)
print(a * 14)

a = ~ , b = 22
~~~~~~~~~~~~~~

In [6]:
try:
    print("a + b:\t", a + b)
except TypeError as te:
    print(te)
try:
    print("a - b:\t", a - b)
except TypeError as te:
    print(te)

a + b:	 31.8
a - b:	 11.8

In [7]:
c = a * b
print("a * b:\t", c, len(c))

a * b:	 ~~~~~~~~~~~~~~~~~~~~~~ 22

In [9]:
# String VS Int

a = "Rama "
bla = a * 10

print(bla)
print(len(bla))

Rama Rama Rama Rama Rama Rama Rama Rama Rama Rama
50

As shown above only `*` multiplication is possible between string & real numeric value

In [5]:
# List VS Int

students = ["Gyanendra Prohit", "Manish Saxena"]
new_students = students * 3

print(new_students, len(new_students))
print(students, len(students))

['Gyanendra Prohit', 'Manish Saxena', 'Gyanendra Prohit', 'Manish Saxena', 'Gyanendra Prohit', 'Manish Saxena'] 6
['Gyanendra Prohit', 'Manish Saxena'] 2

In [7]:
# Tuple
students = ("Ramesh", "Manish Gupta")
students = students * 3
print(students)

('Ramesh', 'Manish Gupta', 'Ramesh', 'Manish Gupta', 'Ramesh', 'Manish Gupta')

Please note in the above two examples, we are getting a new `list/tupple` and existing collect ion remains the same.

In [8]:
# Dictionary VS Int

d = {
    "test": "testing"
}

try:
    print(d * 2)
except Exception as e:
    print(e)

unsupported operand type(s) for *: 'dict' and 'int'

In [9]:
# Set VS Int

students = {"Mayank", "Manish Gupta"}
try:
    students = students * 3
    print(students)
except Exception as e:
    print(e)

unsupported operand type(s) for *: 'set' and 'int'

##### Relational Operators

In [18]:
a = "~"
b = 22
try:
    print("a < b:\t", a < b)
    print("a > b:\t", a > b)
    print("a <= b:\t", a <= b)
    print("a >= b:\t", a >= b)
except TypeError as te:
    print("Error", te)

Error '<' not supported between instances of 'str' and 'int'

In [10]:
# this will work between all data types.
print(a != b)
print(a == b)

True
False

#### Complex Vs String

In [19]:
a = "10"
b = 22 + 4j
print("a =", a, ", b =", b)
print("~~~~~~~~~~~~~~~~~")
try:
    print("a * b:\t", a * b)
except Exception as e:
    print(e)

a = 10 , b = (22+4j)
~~~~~~~~~~~~~~~~~
can't multiply sequence by non-int of type 'complex'

#### Complex Vs Numeric

In [10]:
a = 10 + 4j
b = 10
print("a =", a, ", b =", b)
print("~~~~~~~~~~~~~~~~~")
print("a + b:\t", a + b)
print("a - b:\t", a - b)
print("a * b:\t", a * b)
print("a / b:\t", a / b)
# print("a//b:\t", a//b)
# print("a % b:\t", a % b)
print("-a:\t", -a)

a = (10+4j) , b = 10
~~~~~~~~~~~~~~~~~
a + b:	 (20+4j)
a - b:	 4j
a * b:	 (100+40j)
a / b:	 (1+0.4j)
-a:	 (-10-4j)

In [15]:
# Comparision will fail.
try:
    print("a < b:\t", a < b)
    print("a > b:\t", a > b)
    print("a <= b:\t", a <= b)
    print("a >= b:\t", a >= b)
except TypeError as  te:
    print(te)

'<' not supported between instances of 'complex' and 'int'

In [14]:
try:
    print("abs(a):\t", abs(a))
except TypeError as  te:
    print(te)

abs(a):	 10.770329614269007

In [15]:
import math
try:
    a = 10 + 4j
    print("sqrt(a):", math.sqrt(a))
except TypeError as  te:
    print(te)

can't convert complex to float

#### Complex Vs Complex

In [16]:
a = 10 + 4j
b = 20 - 6j
print("a =", a, ", b =", b)
print("~~~~~~~~~~~~~~~~~")
print("a + b:\t", a + b)
print("a - b:\t", a - b)
print("a * b:\t", a * b)
print("a / b:\t", a / b)
# print("a//b:\t", a//b)
# print("a % b:\t", a % b)

print("-a:\t", -a)

a = (10+4j) , b = (20-6j)
~~~~~~~~~~~~~~~~~
a + b:	 (30-2j)
a - b:	 (-10+10j)
a * b:	 (224+20j)
a / b:	 (0.4036697247706422+0.3211009174311926j)
-a:	 (-10-4j)

In [17]:
try:
    print("a < b:\t", a < b)
    print("a > b:\t", a > b)
    print("a <= b:\t", a <= b)
    print("a >= b:\t", a >= b)
except TypeError as  te:
    print(te)

'<' not supported between instances of 'complex' and 'complex'

In [11]:
a = 10 + 4j
b = 10 - 6j
print(a == b)
print(a != b)

False
True

Thus we can see that following operations are not possible with complex data type  floor (//), mod (%), compare (<, >, >=, <=).

### Assignment Operators

| Syntax 	| Math 	| Example |Operation Name |
|--------------	|---------------------------|----------------|------------------------------------------------------------------	|
| `+=` 	| a = a + b  | a += b	| addition 	|
| `-=` 	| a = a - b  | a -= b	| subtraction 	|
| `*=` 	|  a = a \* b | a *= b  | multiplication 	|
| `/=`	|  a = a \div b  | a /= b | division (see note below) 	|
| `//=` |  a = a//b  | a //= b	| floor division (e.g. 5//2=2) 	|
| `%=` 	|  a = a % b  | a %= b	| modulo 	| 
| `**=` | a = a\**b   | a**= b   | exp | 
| `\|=` | a = a \| b   | `a \|= b`   | Union operator |

#### Numeric

##### Int

In [17]:
a = 10
b = 200 
c = 100

In [18]:
c += a   # =>   c = c + a
print("c =", c)

c = 110

In [19]:
c -= a/2       # c = c - a/2 -> c = 110 - 5.0 (float returned)
print("c =", c)

c = 105.0

In [20]:
c *= a  #   c = c * a
print("c =", c)

c = 1050.0

In [21]:
c /= a  # c = c / a # -> c = 1050.0/10 
print("c =", c)

c = 105.0

In [22]:
c = 10 
a = 2
c **= a  # c = c**a
print("c =", c)

c = 100

In [23]:
c %= a      # c = c % a
print("c =", c)

c = 0

#### Real Number

In [7]:
a = 10.20
c = 20 
c += a
print("c =", c)
c -= a/2
print("c =", c)
c *= a
print("c =", c)
c /= a
print("c =", c)
c **= a
print("c =", c)
c //= a
print("c =", c)
c %= a
print("c =", c)

c = 30.2
c = 25.1
c = 256.02
c = 25.1
c = 189091479159143.34
c = 18538380309719.0
c = 7.4012914030844925

#### Complex Number

In [8]:
a = 10 + 20j
c = 0 
c += a
print("c =", c)
c -= a/2
print("c =", c)
c *= a
print("c =", c)
c /= a
print("c =", c)
c **= a
print("c =", c)
# c //= a
# print("c =", c)
# c %= a
# print("c =", c)

c = (10+20j)
c = (5+10j)
c = (-150+200j)
c = (5+10j)
c = (-6.966954518433685+2.4303120039373587j)

#### Boolean Number

In [24]:
a = True  # It will be treated as 1
c = 1 

c += a
print("c =", c)
c -= a/2
print("c =", c)
c *= a
print("c =", c)
c /= a
print("c =", c)
c **= a
print("c =", c)
c //= a
print("c =", c)
c %= a
print("c =", c)

c = 2
c = 1.5
c = 1.5
c = 1.5
c = 1.5
c = 1.0
c = 0.0

In [26]:
a = False  # False will be treated as 0
c = 0 

c += a
print("c =", c)
c -= a/2
print("c =", c)
c *= a
print("c =", c)
# c /= a
# print("c =", c)
c **= a
print("c =", c)

# Anything by Zero is infinity, thus will result in error
# c //= a
# print("c =", c)
# c %= a
# print("c =", c)

c = 0
c = 0.0
c = 0.0
c = 1.0

In [1]:
a = True   # equals to 1
c = False  # equals to 0
c += a
print("c =", c)
c -= a/2
print("c =", c)
c *= a
print("c =", c)
c /= a
print("c =", c)
c **= a
print("c =", c)
c //= a
print("c =", c)
c %= a
print("c =", c)

c = 1
c = 0.5
c = 0.5
c = 0.5
c = 0.5
c = 0.0
c = 0.0

#### Assignment expressions aka “the walrus operator"

Assignment expressions (`:=`) assigns values to variables as part of a larger expression so that it can be used later as shown in the below example`

In [27]:
cal = (num := 1 + 2), num + 1, num + 2
print(cal)

(3, 4, 5)

In [28]:
# Equivalent code
num = 1 + 2
cal = num, num + 1, num + 2
print(cal)

(3, 4, 5)

In the above example, `num := 1 + 2` expression calculates value of `num` and use it later in the remaining code of the same expression.

thus value of cal became `3, 4, 5`.

This operator can be used in various other places also, we will cover those cases in appropriate scenarios.

##### Exceptions in the walrus operator

Following conditions are not allowed for walrus operator to be used 

- Unparenthesized assignment expressions at the top level of 
    - An expression statement

        ```python
        def expo(x):
            return x**2

        y := expo(x)
        ```

        **Output**:
        ```python
        File "<ipython-input-5-9ef3589455e2>", line 4
            y := expo(x)
                     ^
        SyntaxError: invalid syntax
        ```

    - The right hand side of an assignment statement
        ```python
        y0 = y1 := f(x) 
        ```

        **Output**:
        ```python
        File "<ipython-input-6-deb014fde1dc>", line 1
        def expo(val = req := 3):
                           ^
        SyntaxError: invalid syntax
        ```
        
    - A function default value.

        ```python
        def expo(val = req := 3): 
        ```

        **Output**:
        ```python
        File "<ipython-input-6-deb014fde1dc>", line 1
        def expo(val = req := 3):
                           ^
        SyntaxError: invalid syntax
        ```
- Unparenthesized assignment expressions 
    - in lambda functions
        ```python
        (lambda: x := 1)
        ```
        **Output**
        ```python
        File "<ipython-input-1-875aa004ae8d>", line 1
            (lambda: x := 1)
             ^
        SyntaxError: cannot use assignment expressions with lambda
        ```
     -  inside of f-strings
        ```python
        a = 10
        d = f"data : {b:=a}, {b}"
        print(d)
        ``` 
        Instead use the following code
        ```python
        a = 10
        d = f"data : {(b:= a)}, {b}"
        print(d)
        ```

In [29]:
a = 10
d = f"data : {(b:= a)}, {b}"
print(d)

data : 10, 10

In [31]:
a = 10
try:
    d = f"data : {b:=a}, {b}"
    print(d)
except ValueError as ve:
    print(f"Error: {ve}")

Error: Unknown format code 'a' for object of type 'int'

### Relational Operators

There are following relational operators supported by Python language

| Syntax 	| Math 	 | Operation Name 	    |
|----------	|--------|----------------------|
| <         | a < b  | Less- than           | 
| >         | a > b  | Greater- than        |
| <=        | a <= b | Less- than- equal    |
| >=        | a >= b | Greater- than- equal |
| ==        | a == b | Equal to             | 
| !=        | a != b | not equal to         |

#### Numeric Vs Numeric

In [26]:
a = 10
b = 21.22

print(a < b)
print(a > b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

In [31]:
a = 10
b = 10.0

print(a < b)
print(a > b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

False
False
True
True
True
False

#### Numeric Vs String

In [32]:
a = 10
b = "Mayank Shrivastava"

# print(a < b)
# print(a > b)
# print(a <= b)
# print(a >= b)
print(a == b)
print(a != b)

False
True

#### Numeric Vs Complex

In [33]:
a = 10
b = 10 + 21j

# print(a < b)
# print(a > b)
# print(a <= b)
# print(a >= b)
print(a == b)
print(a != b)

False
True

#### Complex Vs Complex

In [34]:
a = 10 + 20j
b = 10 + 21j

# print(a < b)
# print(a > b)
# print(a <= b)
# print(a >= b)
print(a == b)
print(a != b)

False
True

In [35]:
try:
    print(a < b)
except TypeError as te:
    print(f"Error: {te}")

Error: '<' not supported between instances of 'complex' and 'complex'

#### Complex Vs String

In [36]:
a = 10 + 20j
b = "Rishi Rai"

# print(a < b)
# print(a > b)
# print(a <= b)
# print(a >= b)
print(a == b)
print(a != b)

False
True

#### String  Vs String

In [37]:
a = "Manish Nandle"
b = "manish nandle"

print(a < b)
print(a > b)
print(a <= b)
print(a >= b)
print(a == b)
print(a != b)

True
False
True
False
False
True

### Logical/Boolean Operators

| Syntax 	| example        | Operation Name  | Meaning                                                   |
|----------	|----------------|---------------- |-----------------------------------------------------------|
| `and`     | `a and b`      | Logical AND     | returns true if and only if both expressions are true     |
| `or`      | `a or b`       | Logical OR      | returns true if and only if even an expressions are true  |
| `not`     | `not(a and b)` | Logical NOT     | returns reverse of the expression                         |
| `is`      | `a is b`       | Logical IS      | returns true both references are same object else false   |
| `in`      | `in`           | Logical IN      | returns true if first is found in second else false       |

**Example:**

#### `and`

##### Boolean

##### Boolean AND Table

| A | B | Result
|---|---|-------|
| 0 | 0 | 0     |
| 0 | 1 | 0     |
| 1 | 0 | 0     |
| 1 | 1 | 1     |

Thus it will return `true` only if both the values are `true`, that means if `A` & `B` are expression and if `A` is not `False`, they both will be processed before we gets the result

In [28]:
print(f"{False and False=}")
print(f"{True and False=}")
print(f"{False and True=}")

False and False=False
True and False=False
False and True=False

In [29]:
print(f"{True and True=}")

True and True=True

so, what I can say is, till I know the last value I can not predict the outcome of the statement. Because if its `False` then entire output will be `False` and only when all the values are `True` the final output will be `True`.

In other way I can say that if I get even one `False` then output will be `False`. So, after first False, I dont have to process the remaining statement.

##### Integers

If any element is zero, then we will get zero. Else in all the other we will get the last value

In [32]:
print ("3 and -3:", 3 and -3) # Shows -3
print ("-2 and 3:", -2 and 3) # Shows 3
print ("0 and 3 :", 0 and 3)  # Shows 0
print ("3 and 0 :", 3 and 0)  # Shows 0
print ("2 and 3 :", 2 and 3)  # Shows 3
print ("3 and 2 :", 3 and 2)  # Shows 2

3 and -3: -3
-2 and 3: 3
0 and 3 : 0
3 and 0 : 0
2 and 3 : 3
3 and 2 : 2

In [33]:
a = 10
b = 20

# If both the values are Truish than last value will be returned.
x = a and b
print(x)

20

In [34]:
a = 10
b = 0

# If any of them are falseish than first Falseish value is returned.
x = a and b
print(x)

0

In [35]:
a = False
b = 10

# If any of them are falseish than first Falseish value is returned.
x = a and b
print(x)

False

In [37]:
a = 10
b = 0
c = False

# If any of them are falseish than first Falseish value is returned.
x = a and b and c
print(x)

0

In [39]:
a = 10
b = 0
c = False

# If any of them are falseish than first Falseish value is returned.
x = a and c and  b
print(x)

False

In [38]:
a = 10
b = 0
c = []

# If any of them are falseish than first Falseish value is returned.
x = a and c and  b
print(x)

[]

In [39]:
a = "Yes"
b = "Ja"

print(a and b)

Ja

In [41]:
a = 12

print( (a%2)==0  and f"{a} is divisible by 2")

12 is divisible by 2

In [42]:
a = 123

print( (a%2)==0 and f"{a} is divisible by 2")

False

#### `or`

##### Boolean OR Table

| A | B | Result
|---|---|-------|
| 0 | 0 | 0     |
| 0 | 1 | 1     |
| 1 | 0 | 1     |
| 1 | 1 | 1     |

##### Boolean

In [43]:
A = True 
B = False

print(f"{(A or B)=},\n{(A or A)=},\n{(B or B)=}")

(A or B)=True,
(A or A)=True,
(B or B)=False

We will stop processing on the first non `False` value.

In [44]:
a = "K.V. Pauly"
b = "Aalok"
c = ""

print(c == "Roshan" or a == "K.V. Pauly" or b == "Aalok")
# False or True or True -> True

True

##### On Strings

In [35]:
print(a or c)
# K.V.Pauly or ""

K.V. Pauly

In [36]:
print(a or b or c)

K.V. Pauly

In [37]:
print(b or c or a)
# Aalok or "" or K.V.Pauly -> Aalok

Aalok

In [38]:
print(c or b or a)
# "" or Aalok or K.V.Pauly

Aalok

##### Numeric

It returns first **truish** value

In [47]:
print(3 or 0) # Shows 3
print(0 or 0) # Shows 0
print(0 or 3) # Shows 3
print(2 or 3) # Shows 2

3
0
3
2

In [45]:
print(0 or 2 or 4)  # Will return the first truish value.

2

In [47]:
print(0 or False or [])  # Will return the last falish value

[]

#### Precidence

`and` is evaluated before `or`

In [45]:
# Cascade effect: Which ever is first true

print(10 or 2 or 3)

10

In [46]:
print(10 or 2 and False)

10

In [51]:
print(10 and 2 and 3)

3

In [23]:
print(0 or 2 and 3)
# 0 or (2 and 3)
# 0 or 3
# 3

3

In [51]:
a = 10 or 2 or 0
print(a)

10

In [34]:
a = 0 and 2 or 3
print(a)

3

In [25]:
a = 10 or 2 and 3 or 200
print(a)

10

In [39]:
a = "KV Pauly"
b = "Aalok"
c = "TEST"

d = a or b
print(d)
d = None

print(d or a)

KV Pauly
KV Pauly

In [47]:
# code `f := a+b+c` was never executed.

a = 10
b = 12
c = 0

d = a and (e:=a+b) or c and (f:=e+c)
    
try:
    print(d)
    print(e)
    print(f)  # as the portion of code was not executed
              # thus it is not avaiable.
except Exception as e:
    print(f"Error: {e}")

22
22
Error: name 'f' is not defined

### `not`

In [49]:
print(not 0) # Shows True
print(not 2) # Shows False

True
False

In [50]:
print(not [10])
print(not [])

False
True

### `in`

`in` keyword find if the value is present in the collection or not.

In [56]:
# with String 

india = "India"
print("i" in india)
print("I" in india)
print("N" in india)

True
True
False

In [51]:
# with tuple

print(2 in (2, 3)) # Shows True

True

In [52]:
# with list

print(2 in [2, 3]) # Shows True

True

In [53]:
# with generators

print(10 in range(20))

True

In [54]:
# with dictionary
# It will NOT check the values, just the keys
d = {
    "a": "Bangalore",
    "b": "Chennai"
}

print("a" in d)
print("c" in d)

True
False

In [31]:
# Checking values in the dictionary. 
print("Chennai" in d.values())
print("Mumbai" in d.values())

True
False

### `is`

It validates if the objects are same or not. It does not check the value but the object itself. It check if both the variables are pointing to the same object or not.

In [32]:
# for all values between -5 to 256, python only create one instance. 
# but this is not a rule, its just optimization of compiler

a = 10
b = 10
print (a is b) # Shows True
print(id(a), id(b))

True
4556848048 4556848048

In [33]:
a = 10_000
b = 10_000
print (a is b) # Shows False
print(id(a), id(b))

False
4593227760 4593226736

In [34]:
# Same value Strings without space will have only one instance. 

name_1 = "Rama_Raju"
name_2 = "Rama_Raju"

print(name_1 is name_2)

True

In [35]:
name_1 = "Rama Raju"
name_2 = "Rama Raju"

print(name_1 is name_2)

False

Besides boolean operators, there are the functions `all()`, which returns true when all of the items in the sequence passed as parameters are true, and `any()`, which returns true if any item is true. We will cover them in functional programming.

### Bitwise Operators

+ Left Shift (`<<`)
+ Right Shift (`>>`)
+ And (`&`)
+ Or (`|`)
+ Exclusive Or (`^`)
+ Inversion (`~`)

In [65]:
x = 10 #-> 1010 
y = 11 #-> 1011

# Binary -> Decimal
# 01 -> 1
# 10 -> 2
# 11 -> 3

In [51]:
x = 10 #-> 1010 
y = 11 #-> 1011

y =  x << 2   
print("x << 2 = ", y)  # 101000
print("x =", x)  # as numbers are immutables, new number `y` was created. 
print("x >> 2 = ", x >> 2) # 10

x << 2 =  40
x = 10
x >> 2 =  2

In [53]:
## AND operation

x = 10  # 1010
y = 11  # 1011
print("x =", x, " and y =", y)
print("x & y  = ", x & y)

x = 10  and y = 11
x & y  =  10


```
1011
"""
OR
0 0 | 0 
0 1 | 1
1 0 | 1
1 1 | 1
AND
0 0 | 0
0 1 | 0
1 0 | 0
1 1 | 1
"""
```

```python
1010
1011
------- AND
1010
```

In [55]:
## Or Operator

x = 10  # 1010
y = 11  # 1011
print("x =", x, " and y =", y)
print("x | y  = ", x|y)

x = 10  and y = 11
x | y  =  11

```python
1010
1011
------- OR
1011
```

```python
# XOR
0 0 | 0
0 1 | 1
1 0 | 1
1 1 | 0
```

In [56]:
x = 10  # 1010
y = 11  # 1011
print("x =", x, " and y =", y)
print("x^y = ", x^y)

x = 10  and y = 11
x^y =  1

```python
1010
1011
------- XOR
0001
```

In [70]:
## Inversion 

print("~x = ", ~x)

~x =  -11

In [71]:
print("~y = ", ~y)

~y =  -12

## Order of Operations

Python uses the standard order of operations as taught in Algebra and Geometry classes. That, mathematical expressions are evaluated in the following order (memorized by many as PEMDAS or BODMAS {Brackets, Orders or pOwers, Division, Multiplication, Addition, Subtraction}) .

(Note that operations which share a table row are performed from left to right. That is, a division to the left of a multiplication, with no parentheses between them, is performed before the multiplication simply because it is to the left.)


| Name 	| Syntax 	| Description 	| PEMDAS Mnemonic 	|
|----------------------------	|----------	|----------------------------------------------------------------------------------------------------------------------------------------	|-----------------	|
| Parentheses 	| ( ... ) 	| Before operating on anything else, Python must evaluate all parentheticals starting at the innermost level. (This includes functions.) 	| Please 	|
| Exponents 	| \** 	| As an exponent is simply short multiplication or division, it should be evaluated before them. 	| Excuse 	|
| Multiplication and Division 	| * / // % 	| Again, multiplication is rapid addition and must, therefore, happen first. 	| My Dear 	|
| Addition and Subtraction 	| + - 	| They should happen independent to one another and finally operated among eachother 	| Aunt Sally 	|

| operators                | descriptions                           |
|--------------------------|----------------------------------------|
| (), [], {}, ‘’           | tuple, list, dictionnary, string       |
| x.attr, x[], x[i:j], f() | attribute, index, slide, function call |
| +x, -x, ~x               | unary negation, bitwise invert         |
| **                       | exponent                               |
| *, /, %                  | multiplication, division, modulo       |
| +, -                     | addition, substraction                 |
| <<, >>                   | bitwise shifts                         |
| &                        | bitwise and                            |
| ^                        | bitwise xor                            |
|                          | bitwise or                             |
| <, <=, >=, >             | comparison operators                   |
| ==, !=, is, is not, in,  | comparison operators (continue)        |
| not in                   | comparison operators (continue)        |
| not                      | boolean NOT                            |
| and                      | boolean AND                            |
| or                       | boolean OR                             |
| lambda                   | lamnda expression                      |

## Formatting output

### `round()`

In [38]:
print(round(3.14159265, 2))
print(round(3.14159265, 3))
print(round(3.14159265, 4))

3.14
3.142
3.1416

In [57]:
print(round(134365.14159265, -2))

134400.0

During the operations, numbers are converted appropriately (eg. `(1.5 + 4j) + 3` gives `4.5 + 4j`).

Besides operators, there are also some *builtin* features to handle numeric types: `abs()`, which returns the absolute value of the number, `oct()`, which converts to octal, `hex()`, which converts for hexadecimal, `pow()`, which raises a number by another and `round()`, which returns a real number with the specified rounding.

### Gotcha's

In [49]:
print(0.1 + 0.11 == 0.21)

False

Why ??????

In [50]:
val = 0.1 + 0.11
print(val)

0.21000000000000002

In [51]:
print(0.1 + 0.2 == 0.3)

False

In [77]:
0.1 + 0.12

0.22

In [78]:
0.1 + 0.2

0.30000000000000004

**`math.isclose` to the rescue.**

In [46]:
import math

print(math.isclose(0.1 + 0.2, 0.3))
print(math.isclose(0.1 + 0.2, 0.300000004))  # False
print(math.isclose(0.1 + 0.11, 0.21))
print(math.isclose(0.1 + 0.2, 0.3000000001)) # True
print(math.isclose(0.1 + 0.2, 0.30000000000000004)) # True

True
False
True
True
True

In [60]:
# Swapping the values of two variables 

a = 10
b = 20

a = a + b  # 10 + 20 = 30
b = a - b  # 30 - 20 = 10 
a = a - b  # 30 - 10 = 20

print(a, b)

20 10

In [58]:
a = 10
b = 20

a, b = b, a
print(a, b)

20 10

### Q & A

#### what is the output of the followings:

- 
```python
print(0.1 + 0.11 == 0.12)
```

**Ans:** False

- 
```python
print(0.11 + 0.2 == 0.31)
```

**Ans:** True

- 
```python
print(~1011)
```

**Ans:** -1012

- 
```python
b = 0x1000
a = 10
a = b
print(a, b)
```

**Ans:** 4096 4096

- 
```python
5 + 2 // 4
```

**Ans:** 5

- 
```python
(5 + 2)%(1 + 4/2)
```

**Ans:** 1.0

- 
```python
5 + 2%4
```

**Ans:** 7

- 
```python
5 + 2*4
```

**Ans:** 13

- 
```python
5 % 2*4 // 2
```

**Ans:** 2

- 
```python
int(5.55 % 2+3/3)
```

**Ans:** 2

- 
```python
round(5.55 % 2+3/3)
```

**Ans:** 3

- 
```python
~~~~15
```

**Ans:** 15

- 
```python
2**(3**2)
```

**Ans:** 512

- 
```python
(2**3)**2
```

**Ans:** 64

- 
```python
2**3**2
```

**Ans:** 512

- 
```python
a = 1
a, b = a+1, a+1
print(a)
print(b)
```

**Ans:**
```
2
2
```

- 
```python
i + = 1
```

**Ans:** `SyntaxError: invalid syntax`

## Reference, Recommendation, Remarks & Thanks 

- https://en.wikibooks.org/wiki/Python_Programming/Operators
- https://www.python.org/dev/peps/pep-0572/#syntax-and-semantics