### String Operations

String data type provide multiple `methods`/`functions` for performing various operations.

Lets find, all the string attributes using `dir` function.

In [1]:
print(dir("India"))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

Since it provide so many attributes, we are only going to cover few of the important ones in this section

#### Creation / Assignation

We can create new string using assignation operator.

In [1]:
name = 'Camel'
print(name, id(name))

Camel 4369547952

In [2]:
name = "Roshan\tMusheer"
print(name, id(name))

Roshan	Musheer 4343415664

In the above example, we have created two new strings with data `Camel` and `Roshan\tMusheer`.

#### Single / Double quote in Double / Single  quote string

We might have a situation, were we need to have single quote or double quote character with-in the string. The easiest way to achieve it by using escape character `\`.

In [5]:
a = 'Roshan\tMusheer\'s car'
print(a)

Roshan	Musheer's car

In [7]:
a = "Roshan\tMusheer: \"One of the best Manager\""
print(a)

Roshan	Musheer: "One of the best Manager"

In [9]:
# overkill, but no harm
a = 'Roshan Musheer said: "Good Work\"'
print(a)

Roshan Musheer said: "Good Work"

In [10]:
animal = "Camel 'Are good in deserts.'"

We can also use something like following, were we have used different quote to denote the string.

In [7]:
animal = 'Camel "Are good in deserts."'
print(animal, id(animal))
a = "Roshan\tMusheer's car is always too small for him. ;)"
print(a)

Camel "Are good in deserts." 4466600736
Roshan	Musheer's car is always too small for him. ;)

#### Concatenation

String concatenation is a process of joining two or more strings into a **new single string**. As we have already discussed that string is an immutable datatype thus we have to create a new string for concatenation, what that means is the original strings will still remain the same and new one will be created using the texts from the originals.

There are multiple ways in which we can achive the concatenation. The most common method of achiving the concatenation, is to use `+` operator. 

Lets take an example, where we have three string's and lets try to concatenate them using it.

In [3]:
animal = "lion"
space = " "
st_the = "The"
st_action = "ran away !!!"

print(animal, id(animal))
print(st_the, id(st_the))
print(st_action, id(st_action))

lion 4356639664
The 4356639408
ran away !!! 4356639280

In [4]:
statement = st_the + space + animal + space + st_action 
print(statement, id(statement))

The lion ran away !!! 4356472624

In [5]:
print(animal, id(animal))
print(st_the, id(st_the))
print(st_action, id(st_action))

lion 4356639664
The 4356639408
ran away !!! 4356639280

In [6]:
st = st_the + space + animal + space + st_action

print(st, id(st))

The lion ran away !!! 4356031632

In [9]:
# The original string still remain intact
print(animal, id(animal))
print(st_the, id(st_the))
print(st_action, id(st_action))

lion 4356639664
The 4356639408
ran away !!! 4356639280

In [10]:
partial_week = "mon, " + "tues, " + "wed"
print(partial_week)

mon, tues, wed

### Interpolation

string interpolation (or variable interpolation, variable substitution, or variable expansion) is the process of evaluating a string literal containing one or more placeholders, yielding a result in which the placeholders are replaced with their corresponding values.

In [38]:
statement = "Ja, Ich bin ein Kind"

te = 'Size of `%s` => %d'

print(te % (statement, len(statement)))
td = te % (statement, statement.__len__())
print(td)

Size of `Ja, Ich bin ein Kind` => 20
Size of `Ja, Ich bin ein Kind` => 20

In [11]:
s = "Ja, Ich bin ein Mann"

print('Size of `%s` => %s' % (s, len(s)))
print('Size of `%s` => %f' % (s, s.__len__()))
try:
    print('Size of `%s` => %f %s' % (s, s.__len__(), 10.2))
    print('Size of `%f` => %f' % (s, s.__len__()))
except Exception as e:
    print(e)

Size of `Ja, Ich bin ein Mann` => 20
Size of `Ja, Ich bin ein Mann` => 20.000000
Size of `Ja, Ich bin ein Mann` => 20.000000 10.2
must be real number, not str

In [30]:
# we can even store the results in a variable
result = 'Size of `%s` => %d' % (s, s.__len__())
print(result)

Size of `Ja, Ich bin ein Mann` => 20

**Issue 1:**
    - We need to know the data in advance else we might have error as show above.

- Might Get error as shown below

In [19]:
statement = "Ja, Ich bin eine Frau"
try:
    print('Size of `%s` => %f %s' % (statement, statement.__len__(), 10.2))
    print('Size of `%f` => %f' % (statement, statement.__len__()))
except Exception as e:
    print(e)

Size of `Ja, Ich bin eine Frau` => 21.000000 10.2
must be real number, not str

- Or might not get an error as shown below,

In [22]:
statement = "203"
try:
    print('Size of `%s` => %f %s' % (statement, statement.__len__(), 10.2))
    print('Size of `%s` => %f' % (statement, statement.__len__()))
except Exception as e:
    print(e)

Size of `203` => 3.000000 10.2
Size of `203` => 3.000000

In the second case, although the statement was a string, but the data it hold was a int, so auto conversion was sucessful

In [34]:
# Zeros left
print ('Days in years are %4d, dummy value %03d.' % (356, 7))

# Real (The number after the decimal point specifies how many decimal digits )
print ('Percent: %.1f%%, Exponencial:%.4e' % (5.333, 0.00000031403030))

# Octal and hexadecimal
print ('Decimal: %d, Octal: %o, Hexadecimal: %x' % (10, 10, 10))

Days in years are  356, dummy value 007.
Percent: 5.3%, Exponencial:3.1403e-07
Decimal: 10, Octal: 12, Hexadecimal: a

In [35]:
# We need to know the data type before hand otherwise we might get errors 
# while processing the string
try:
    print ('Percent: %.1f%%, Exponencial:%.2e' % ("5.333", 0.00000031403030))
except Exception as e:
    print("Error:", e)

Error: must be real number, not str

### `format`

In addition to interpolation operator `%`, the string method and function `format()` is available.

> The function `format()` can be used only to format one piece of data each time.

*Examples*:

In [23]:
# Parameters are identified by order
msg = '{} was {} of {}'

print(msg.format('Mayank', 'reportee', 'Roshan Musheer'))

Mayank was reportee of Roshan Musheer

**Note:**
    -  If you have more numbers of "{}" (placeholders) than the number of variables/data then following error will be observed.

In [40]:
# !!! Gotcha !!!
try:
    msg = '{} was {} of {}. Testing {}'
    print(msg.format('Mayank', 'reportee', 'Roshan Musheer'))
except Exception as e:
    print(e)

Replacement index 3 out of range for positional args tuple

In [24]:
# using extra `{}` as escape characters 
try:
    msg = '{} was {} of {}. Testing {{is good}}'
    print(msg.format('Mayank', 'reportee', 'Roshan Musheer'))
except Exception as e:
    print(e)

Mayank was reportee of Roshan Musheer. Testing {is good}

but opposite is not true

In [25]:
try:
    msg = '{} was {}'
    print(msg.format('Mayank', 'reportee', 'Roshan Musheer'))
except Exception as e:
    print(e)

Mayank was reportee

> **NOTE**
> <hr>
> Number of `{}` in string should be less than or equal to the number of data we are providing as parameter to `format` attribute.

In [26]:
# Pune is to be used twice, so we have to place 
# twice in format section. 
st = "Welcome to {}. {} is a good Place"

print(st.format("Pune", "Pune"))

Welcome to Pune. Pune is a good Place

#### Issues with `{}`

- Order needs to be maintained
- Not very intutive or friendly. 
- If a value is to be reprinted, it needs to be duplicated.

In [27]:
# Parameters are identified by order

msg = '{1} was {2} of {0}'

print(msg.format('Shri. K.V. Pauly', 'Mayank', 'reportee'))

Mayank was reportee of Shri. K.V. Pauly

In [28]:
# Gotcha, Index starts from `0` and not from `1`

try:
    msg = '{1} was {3} of {2}'
    print(msg.format('Mr. K.V. Pauly', 'Mayank', "Manager"))
except Exception as e:
    print(e)

Replacement index 3 out of range for positional args tuple

In [30]:
# We can have same value being used multiple times. 

msg = "{0}na is not in {0}."

print(msg.format("India"))

Indiana is not in India.

In [33]:
st = "Welcome to {0}. {0} is a Great City..."

print(st.format("Pune"))

Welcome to Pune. Pune is a Great City...

#### Issues with `{<index>}`

- Not very intutive or friendly.

In [35]:
# Parameters are identified by name

msg = '{greeting}, Welcome to {town}'

print(msg.format(greeting='Good Morning', town='Chennai'))

Good Morning, Welcome to Chennai

In [39]:
msg = '{greeting}, it is {hour:02d}:{minute:02d} AM.'

try:
    print(msg.format(greeting='Good Morning', minute=2, hour=10))
except Exception as e:
    print(e)

Good Morning, it is 10:02 AM.

In [65]:
# Python is not forgiving type ;). 

msg = '{greeting}, it is {hour:02d}:{minute:02d} AM.'

try:
    print(msg.format(greeting='Good Morning', minute=2))
except Exception as e:
    print("Error:", e)

Error: 'hour'

In [66]:
# Parameters are identified by name
# But know your Data

msg = '{greeting}, it is {hour:02d}:{minute:02d} AM.'
try:
    print(msg.format(greeting='Good Morning', 
                     minute="Two", 
                     hour=10))
except Exception as e:
    print(e)

Unknown format code 'd' for object of type 'str'

In [69]:
# Parameters are identified by name
# But know your Data

msg = '{greeting}, it is {hour:02}:{minute} AM.'
try:
    print(msg.format(greeting='Good Morning', 
                     minute="Two", 
                     hour=9))
except Exception as e:
    print(e)

Good Morning, it is 09:Two AM.

it treats `msg` string as a template and generates a new string everytime we use `format` function.

In [46]:
# Builtin function format()
print ('Pi =', format(3.14159, '.3e'))
print ('Pi =', format(11111.14159, '.1e'))

Pi = 3.142e+00
Pi = 1.1e+04

#### Formatting in details

`format` provides many options which can be used to process the data interpolation

##### Basic formatting

In [72]:
'{} {}'.format('सूर्य', 'नमस्कार')

'सूर्य नमस्कार'

In [71]:
'{1} {0}'.format('सूर्य', 'नमस्कार')

'नमस्कार सूर्य'

In [70]:
'{sun} {hello}'.format(sun='सूर्य', hello='नमस्कार')

'सूर्य नमस्कार'

##### Padding

We can add padding or align the text using it. We can define minimum numbers of characters in the string using padding as shown below.

In [41]:
print('{hello_sun:20} is good for health'.format(hello_sun='सूर्य नमस्कार'))

सूर्य नमस्कार        is good for health

In [42]:
'.{:4}.'.format('Bonjour')

'.Bonjour.'

In [43]:
'.{:14}.'.format('Bonjour')

'.Bonjour       .'

In [45]:
# mix and match example

hello = '{:10.3}'.format('jBonour')
print(hello, "<")
print(len(hello))

jBo        <
10

##### Right Align

In [46]:
s = '{good_morning:>30}'.format(good_morning='सूर्य नमस्कार')
print(">", s, "< end")
print(len(s))

>                  सूर्य नमस्कार < end
30

In [48]:
s = '{:>30}'.format(10)
print(s)
s = '{:>30}'.format(20)
print(s)
s = '{:>30}'.format(-30)
print(s)
print("*"*30)
print('Total{:>25}'.format(0))

                            10
                            20
                           -30
******************************
Total                        0

If the length of string is more than specified length than it print entire string

In [49]:
s = '{:>2}'.format('सूर्य नमस्कार')
print(s, "< end")
print(len(s))

सूर्य नमस्कार < end
13

In [50]:
# custom buffer text
s = 'Pay Rs:{:*>30}/-'.format('100')
print(s)

Pay Rs:***************************100/-

##### Left Align

In [51]:
s = '{:<30}'.format('सूर्य नमस्कार')
print(s, "< end")
print(len(s))

सूर्य नमस्कार                  < end
30

If the length of string is more than specified length than it print entire string

In [42]:
s = '{:<2}'.format('सूर्य नमस्कार')
print(s)
print(len(s))

सूर्य नमस्कार
13

If you wish to add padding with custom character then it can be done using the following method

In [43]:
s = '{:_<30}'.format('सूर्य नमस्कार')
print(s)

सूर्य नमस्कार_________________

In [44]:
s = 'Pay Rs:{:*<30}'.format('100/-')
print(s)

Pay Rs:100/-*************************

In [48]:
# Padding character should be only one character, else 
# error is raied as shown below.

try: 
    s = '{:*~<30}'.format('Pay Rs100')
    print(s)
except Exception as e:
    print("Error", e)

Error Invalid format specifier

##### Center Align

In [52]:
'{:^20}, Mr. K.V.Pauly'.format('Bonjour')

'      Bonjour       , Mr. K.V.Pauly'

In [53]:
'{:-^7}'.format('こんにちは')

'-こんにちは-'

We can have even programmatically define the alignment as shown in below example.

In [54]:
lst = ["<", ">", "^"]

for align in lst:
    print('>{:{align}{width}}<'.format('Bonjour', align=align, width='20'))

>Bonjour             <
>             Bonjour<
>      Bonjour       <

##### Truncate

Truncate allows to trim long string to specified length, the syntax is as follows

```python
{<string length>.<text length>}
```

- String_length: It is the final string length
- text_length: It is the length of truncated text which will be present in final string

In [55]:
s = '>{:40.4}<'.format('testdd नमस्कार')
print(len(s))
print(s)

42
>test                                    <

In the above example, although the string size is 101 only 4 characters are present in the final string.

In [57]:
'{:^10.7}'.format('Ich bin ein Mann')

' Ich bin  '

another example, with different data types

In [51]:
'{:.{prec}}, {:.{prec}f}'.format('Ich bin ein Mann', 2.22, prec=7)

'Ich bin, 2.2200000'

#### Numbers

**Decimals**

In [52]:
'{:d}'.format(1980)

'1980'

In [53]:
try:
    '{:d}'.format(119.2)
except ValueError as ve:
    print(ve)

Unknown format code 'd' for object of type 'float'

In [54]:
'{:05d}'.format(19)

'00019'

**Float**

In [55]:
'{:f}'.format(3.141592653589793)

'3.141593'

In [56]:
'{:12f}'.format(3.141592653589793)

'    3.141593'

In [57]:
'{:12.3f}'.format(1.9)

'       1.900'

In [58]:
# both side padding in float number

'{:05.2f}'.format(3.1)

'03.10'

In [59]:
### Need to find for complex & boolean numbers
## '{:+d+d}'.format(-3 + 2j)

##### Signs on numbers

We can add `+` and `-` signs before the numbers as shown in the examples below

In [60]:
'{:+7.1f}'.format(11)

'  +11.0'

In [61]:
'{:+5d}'.format(119291)

'+119291'

In [62]:
'{:5d}'.format(+11)

'   11'

In [63]:
'{:+5d}'.format(-11)

'  -11'

In [64]:
'{:-5d}'.format(+11)

'   11'

In [65]:
'{:-5d}'.format(-11)

'  -11'

In [66]:
# Hmm, adding -ve is actually useless
'{:5d}'.format(-11)

'  -11'

##### Dictionary

In [67]:
user = {'name': 'Mayank', 'surname': 'Johri'}
print(user)
'{u[name]} {u[surname]}'.format(u=user)

{'name': 'Mayank', 'surname': 'Johri'}

'Mayank Johri'

lets try similar with a list of dictionaries

In [68]:
users = [
    {'name': 'Mayank', 'surname': 'Johri'},
    {'name': 'Roshan', 'surname': 'Musheer'},
    {'name': 'Mohan', 'surname': 'Shah'},
    {'name': 'Sachin', 'surname': 'Shah'},
    {'name': 'Rajeev', 'surname': 'Jain'}
]

for user in users:
    print('{u[name]} {u[surname]}'.format(u=user))

Mayank Johri
Roshan Musheer
Mohan Shah
Sachin Shah
Rajeev Jain

##### List

List items can also be selected as shown below

In [69]:
lst = list(range(10))
'{l[2]} {l[7]}'.format(l=lst)

'2 7'

##### Date & Time

In [70]:
from datetime import datetime
'{:%Y-%m-%d %H:%M:%S}'.format(datetime(2017, 12, 23, 14, 15))

'2017-12-23 14:15:00'

##### Class

In [71]:
class Yoga(object):

    def __repr__(self):
        return 'सूर्य नमस्कार'
    
    
'{0!r} <-> {0!a}'.format(Yoga())

'सूर्य नमस्कार <-> \\u0938\\u0942\\u0930\\u094d\\u092f \\u0928\\u092e\\u0938\\u094d\\u0915\\u093e\\u0930'

#### Using as Templates

In [5]:
hw = 'Hello {name:10}! This is {program}'

for name, program in [('Raja', 'Rahim'), ("Mayank", "Nim Lang")]:
    print(hw.format(name=name, program=program))

Hello Raja      ! This is Rahim
Hello Mayank    ! This is Nim Lang

In [6]:
name = {'name': 'Mayank', "program": "Nim Lang"}

msg = 'Hello {name}! This is {program}'
print(msg.format(name=name['name'], program=name['program']))

Hello Mayank! This is Nim Lang

### `format_map`

In [9]:
# for Python >= 3.2 
# Instead of above code we can do something as shown below

name = {'name': 'Mayank', "program": "Nim Lang"}

msg = 'Hello {name}! This is {program}'
print(msg.format_map(name))

Hello Mayank! This is Nim Lang

In [11]:
#### for Python 2

name = {'name': 'Mayank', "program": "Nim Lang"}

msg = 'Hello {name}! This is {program}'
print(msg.format(**name))

Hello Mayank! This is Nim Lang

#### Literal String / Formatted string

It is the new Interpolation method as it is implemented in `Python 3.6`. It is similar to `format` except we cannot use it as template, because values are pre-populated.

In [61]:
name = 'World'
program = 'Python'

hw = f'Hello {name:10}! This is {program}'

print(hw)
print(id(hw))

Hello World     ! This is Python
4356796560

In [63]:
# As shown in this example, we cannot use it as template. 
try:
    hw = f'Hello {user_name:10}! This is {user_program}'
    for user_name, user_program in [('Raja', 'Rahim'), ("Mayank", "NimLang")]:
        print(hw)
except Exception as e:
    print(e)
print("Welcome")

name 'user_name' is not defined
Welcome

In [65]:
# we need to use the following to achieve it. 
for user_name, user_program in [('Raja', 'Rahim'), ("Mayank", "NimLang")]:
    print(f'Hello {user_name:10}! This is {user_program}')

Hello Raja      ! This is Rahim
Hello Mayank    ! This is NimLang

In [8]:
# Lets update the varibles and see if it changes the literal string

name = 'G.V.'
program = 'Packaging'
# will not update the hw string
print(name)
print(hw)
# We are creating a new string literal
hw = F'Hello {name}! This is {program}'
print(hw)
print(id(hw))

G.V.
Hello Mayank    ! This is NimLang
Hello G.V.! This is Packaging
4513630048

So, the strng was not updated after the variables (name, program) were updated.

In [9]:
name = 'Ravi'
program = 'Ruby'
hw1 = hw
print(hw1)

Hello G.V.! This is Packaging

In [10]:
%%timeit
name = 'G.V.'
program = 'Packaging'

hw = F'Hello {name}! This is {program}'

279 ns ± 63.1 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [11]:
%%timeit
hw = 'Hello {name:10}! This is {program}'.format(name=name, program=program)

1.73 µs ± 210 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [12]:
%%timeit
hw = 'Hello %s This is %s' % (name, program)

590 ns ± 111 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

#### `startswith` & `endswith`

Check if the string starts / ends with the given substring.

In [66]:
username = "Murthy "
# Strings are objects
print(username.startswith('Mur'))

True

In [68]:
# This will check if any of the keywork listed in designation is 
# present in the username. 
# What that means is you can check more than one substring in single command 

designation = ("Dr.", "Mr.")

print(username.startswith(designation))

False

In [69]:
username = "Mr. K.V Pauly"

print(username.startswith(designation))

True

In [70]:
# This will check if any of the keywork listed in designation is 
# present in the username. 
# What that means is you can check more than one substring in single command 

designation = ("Dr.", "Mr.")

print(username.startswith(designation))

True

`endswith` is similar to `startswith` except it checks in the end.

In [73]:
print(username.endswith('thy'))
print(username.endswith('ly'))

False
True

In [72]:
# Even collections work
ends = ("thy", "ly")
print(username.endswith(ends))

True

#### `strip()`, `lstrip()` and `rstrip()`

This function removes the spaces and few other special characters from both side of the printable characters from the string.

In [74]:
# Original String
s = "   \n\tMurthy\tSwamy\n\r  "

print("s >", s, "<", len(s))

s >
	Murthy	Swamy
   < 21

In [75]:
# Stripped string
stripped = s.strip()
print("start >", stripped, "< end", len(stripped))
print("*"*29)
# Original String still remains the same.
print("s >", s, "<", len(s))

start > Murthy	Swamy < end 12
*****************************
s >
	Murthy	Swamy
   < 21

In [90]:
st = "    \n\tMayank\tJohri\t\n    "

print(">", st.rstrip(), "<")
print(">", st.lstrip(), "<")

>
	Mayank	Johri <
> Mayank	Johri
     <

#### `join()`

It allows to join elements of second using the first or in other words, first is used to join the elements of second and a string is created.

In [77]:
week_days = ["mon", "tues", "wed", "thus", "fri"]
comma = ","


# comma-> Joins the string elements of week_days
print(comma.join(week_days)) # -> mon,tues,wed,thus,fri

mon,tues,wed,thus,fri

In [83]:
m = "Mohan Shah"
a = ["On Leave"]

In [84]:
print(comma.join(m))

M,o,h,a,n, ,S,h,a,h

In [87]:
# Since `comma` has only one element, thus it will return 
# it without joining substring (`m`)
print(m.join(comma))

,

In [88]:
print(comma.join(a))

On Leave

> Create a string from a list of string items

In [103]:
" ".join(m)

'M o h a n   S h a h'

In [92]:
", ".join(m)

'M, o, h, a, n,  , S, h, a, h'

In [104]:
# Concating string using null string
null_string = ""
char_str = ["M", "o", "h", "a", "n","  ", "S", "h", "a", "h"]
print(null_string.join(char_str))

Mohan  Shah

In [93]:
book_desc = ["This", "book", "is good"]
" ".join(book_desc)

'This book is good'

In [94]:
%%timeit
st = ", ".join(book_desc)

262 ns ± 53.4 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [95]:
%%timeit
st = "This" + ", " + "book" + ", " + "is good"

25.7 ns ± 8.05 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [96]:
# str function do not work :(
str(book_desc)

"['This', 'book', 'is good']"

Your list should only have string elements, else you will get error message as follows

In [106]:
## !!! Gotchas !!!

try:
    book_desc = ["This", "book", "is good", [1010]]
    txt = ", ".join(book_desc)
except Exception as e:
    print("error:".upper(), e)

ERROR: sequence item 3: expected str instance, list found

#### `capitalize`

`capitalize` creates a new string with first character as upper case and remaining as lower case.

In [97]:
myStr = "maya Deploy, Version: 0.0.3 "

print(myStr.capitalize())

Maya deploy, version: 0.0.3

In [98]:
myStr = """maya Deploy.
 Version: 0.0.3"""

print(myStr.capitalize())

Maya deploy.
 version: 0.0.3

In [99]:
# Unicode characters are also handled.

my_str = "ß Testing"
print(my_str.capitalize())

Ss testing

#### `center`

It acts similar to center padding, which we saw in format, except it acts on the entire string.

In [100]:
myStr = "maya Deploy Version: 0.0.3"
print(myStr.center(60))

# Custom padding
print(myStr.center(60, "-"))
print(myStr.center(60, "^"))

                 maya Deploy Version: 0.0.3
-----------------maya Deploy Version: 0.0.3-----------------
^^^^^^^^^^^^^^^^^maya Deploy Version: 0.0.3^^^^^^^^^^^^^^^^^

In [101]:
### Rare Gotcha
# We can only have one character as padding and not more. 

try:
    print(myStr.center(60, "*~"))
except Exception as e:
    print("Error:", e)

Error: The fill character must be exactly one character long

In [63]:
# My string is larger than the number, nothing will happen

print(myStr.center(12, "*"))

maya Deploy Version: 0.0.3

In [64]:
# We can cascade multiple string methods as shown below

aalok = "aalok Is Good"
print(">", aalok.capitalize().center(40, "~"), "<")

> ~~~~~~~~~~~~~Aalok is good~~~~~~~~~~~~~~ <

#### `count`, `find`

`count` returns the number of time the substring is present in the give string. It do not find the substring using recursion.

In [102]:
myStr = "maya Deploy Version: 0.0.3"
print(myStr)

maya Deploy Version: 0.0.3

In [105]:
print(f"myStr.count('a'): {myStr.count('a')}")
print(f"myStr.count('e'): {myStr.count('e')}")
print(f"myStr.count('20'):{ myStr.count('20')}")

myStr.count('a'): 2
myStr.count('e'): 2
myStr.count('20'):0

In [109]:
# no recursion, once searched it will not go back to 
# search for other permutations on the searched substring 
# for substring under search. 

my_txt = "dadadada"
print(my_txt.count("dada"))

2

In [110]:
# Find returns the index of first occurence of the 
# substring in the string else returns -1

print(myStr.find("g"))
print(myStr.find("e"))
my_txt = "dadadada"
print(my_txt.find("ada"))

-1
6
1

In [105]:
# this is the reason it do not return "False" if sub=string 
# is not present.
print(my_txt.find("da"))

0

In [111]:
# Search only portion of the string
my_txt = "dada dada"
print(my_txt.find("ada", 3))

6

In [107]:
# since its outside the range thus will not be 
# able to find the substring `good`.
my_txt = "dada is good"
print(my_txt.find("good", 1, 5))

-1

> **Note**: The find() method should be used only if you need to know the position of sub. To check if sub is a substring or not, use the `in` operator:

checking: substring in main_string : returns true or false

In [106]:
print("ma" in myStr)

True

In [109]:
print("M" in myStr)

False

### `upper` and `lower`

In [23]:
# Now, they also supports unicode

c = "Twelve Thousand Three Hundred Six, for ß Testing SS"
print(c.upper())
print(c.lower())

TWELVE THOUSAND THREE HUNDRED SIX, FOR SS TESTING SS
twelve thousand three hundred six, for ß testing ss

In [111]:
swagat = "अभिवादन"
print(swagat.upper())
print(swagat.lower())

अभिवादन
अभिवादन

In [24]:
swagat = "ஆகுதி செய்யும்போது"
print(swagat.upper())
print(swagat.lower())

ஆகுதி செய்யும்போது
ஆகுதி செய்யும்போது

### `str` in-build module for alpha/Numeric validation

Strings implement all of the common sequence operations, along with the additional methods described below.

In [1]:
c = "one"
print(c.isalpha())
c = "onetwo"
print(c.isalpha())
c = "twelvethousandthreehundredsix"
print(c.isalpha())
c = "twelvethousandthreehundredandsix"
print(c.isalpha())
# It even works on unicode alphas
one = "એક"  # One in kannada
print(one.isalpha())
print("ذات".isalpha())

True
True
True
True
True
True

In [114]:
# Anything other than alpha will return false as shown below
c = "1"
print(c.isalpha())
c = "one two"
print(c.isalpha())

False
False

In [2]:
# Solving the space issue.
c = "twelve thousand three hundred and six."
print(c.isalpha())
num = c.replace(" ", "").replace(".","").replace("/","")

print(num, num.isalpha())

False
twelvethousandthreehundredandsix True

In [3]:
superscripts = "\u00B2"
five = "\u0A6B"
five_punjabi = "੫"
ten_hindi = "१०"
num_one = "1"
tendotfive = "10.5"
one = "one"
tamil_one = "ஒன்று"
fractions = "\u00BC"

In [4]:
print(superscripts)
print(five)
print(five_punjabi)
print(ten_hindi)
print(num_one)
print(tamil_one)
print(one)
print(fractions)

²
੫
੫
१०
1
ஒன்று
one
¼

#### `isdecimal()`

In [118]:
print(superscripts, "\t", superscripts.isdecimal())
print(five, "\t", five.isdecimal())
print(five_punjabi, "\t", five_punjabi.isdecimal())
print(ten_hindi, "\t", ten_hindi.isdecimal())
print(num_one, "\t", num_one.isdecimal())
print(tendotfive, "\t", tendotfive.isdecimal())
print(tamil_one, "\t", tamil_one.isdecimal())
print(one, "\t", one.isdecimal())
print(fractions, "\t", fractions.isdecimal())

² 	 False
੫ 	 True
੫ 	 True
१० 	 True
1 	 True
10.5 	 False
ஒன்று 	 False
one 	 False
¼ 	 False

In [119]:
# Any text other than numbers will result in False
str = "this 2009";  
print(str.isdecimal())

False

#### `isdigit`

In [5]:
# str.isdigit() (Decimals, Subscripts, Superscripts)
print(superscripts, "\t", superscripts.isdigit())
print(five, "\t" , five.isdigit())
print(five_punjabi, "\t" , five_punjabi.isdigit())
print(ten_hindi, "\t" , ten_hindi.isdigit())
print(num_one, "\t" , num_one.isdigit())
print(tendotfive, "\t", tendotfive.isdigit())
print(tamil_one, "\t", tamil_one.isdigit())
print(one, "\t" , one.isdigit())
print(fractions, "\t" , fractions.isdigit())

² 	 True
੫ 	 True
੫ 	 True
१० 	 True
1 	 True
10.5 	 False
ஒன்று 	 False
one 	 False
¼ 	 False

#### `str.isnumeric`

- Digits, 
- Fractions, 
- Subscripts, 
- Superscripts

In [121]:
print(superscripts, "\t", superscripts.isnumeric())
print(five, "\t", five.isnumeric())
print(five_punjabi, "\t", five_punjabi.isnumeric())
print(ten_hindi, "\t", ten_hindi.isnumeric())
print(num_one, "\t", num_one.isnumeric())

print(tendotfive, "\t", tendotfive.isnumeric())
print(tamil_one, "\t", "ذات".isnumeric())
print(one, "\t", one.isnumeric())
print(fractions, "\t", fractions.isnumeric())

² 	 True
੫ 	 True
੫ 	 True
१० 	 True
1 	 True
10.5 	 False
ஒன்று 	 False
one 	 False
¼ 	 True

#### `isalnum`

Any kind of number: be it alpha or numeric.

In [122]:
print(superscripts, "\t", superscripts.isalnum())
print(five, "\t", five.isalnum())
print(five_punjabi, "\t", five_punjabi.isalnum())
print(ten_hindi, "\t", ten_hindi.isalnum())
print(num_one, "\t", num_one.isalnum())
print(tendotfive, "\t", tendotfive.isnumeric())
print(one, "\t", one.isalnum())
print(fractions, "\t", fractions.isalnum())

² 	 True
੫ 	 True
੫ 	 True
१० 	 True
1 	 True
10.5 	 False
one 	 True
¼ 	 True

In [123]:
print("one".isalnum())
print("thirteen".isalnum())
tenOne = "10One"
print(tenOne.isalnum())
ten_One = "10.10"
print(ten_One.isalnum())

True
True
True
False

### Reverse String

Creates a new list with elements in reverse order

- **Method 1** Sliceing

In [6]:
s = "जरूस ाक हबुस हबुस"
print(s[::-1])

सुबह सुबह का सूरज

- **Method 2:** Using `reversed` function

In [7]:
s = "जरूस ाक हबुस हबुस"
print(''.join(reversed(s)))
s = "nuS gninroM"
print(''.join(reversed(s)))

सुबह सुबह का सूरज
Morning Sun

In [108]:
# inner working of method 2
print(reversed(s))
print(tuple(reversed(s)))
print("".join(reversed(s)))

<reversed object at 0x103b201c0>
(' ', ' ', '\r', '\n', 'y', 'm', 'a', 'w', 'S', '\t', 'y', 'h', 't', 'r', 'u', 'M', '\t', '\n', ' ', ' ', ' ')

ymawS	yhtruM

In [72]:
s = "जरूस ाक 10 हबुस हबुस"
print(''.join(reversed(s)))
s = "nuS gninroM"
print(''.join(reversed(s)))

सुबह सुबह 01 का सूरज
Morning Sun

### case-insensitive string comparison

##### for ASCII strings

In [111]:
string1 = 'Hello'
string2 = 'helLo'

if string1.lower() == string2.lower():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are not the same (case insensitive)")

The strings are the same (case insensitive)

##### for unicode strings

In [128]:
str_lower = "Σίσυφος"
str_upper = "ΣΊΣΥΦΟΣ"

if str_upper.lower() == str_lower.lower():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are not the same (case insensitive)")

The strings are the same (case insensitive)

but fails in some cases

In [129]:
str_lower = "ß test"
str_upper = "SS test"

if str_upper.lower() == str_lower.lower():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are not the same (case insensitive)")

The strings are not the same (case insensitive)

In [130]:
str_lower = "ß test"
str_upper = "SS test"

if str_upper.upper() == str_lower.upper():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are not the same (case insensitive)")

The strings are the same (case insensitive)

In [131]:
print(str_upper.lower(), str_lower.lower())
print(str_upper.upper(), str_lower.upper())

ss test ß test
SS TEST SS TEST

So the best bet is using `casefold`. Lets replace `lower` to `casefold` in the above example

In [132]:
str_lower = "ß"
str_upper = "SS"

if str_upper.casefold() == str_lower.casefold():
    print("The strings are the same (case insensitive)")
else:
    print("The strings are not the same (case insensitive)")

The strings are the same (case insensitive)

In [133]:
print(str_lower.casefold(), " : ", str_upper.casefold())
print(str_lower.upper())

ss  :  ss
SS

### Interning Strings

It is a method of storing only one copy of each distinct string value, which must be immutable. Interning strings makes some string processing tasks more time- or space-efficient at the cost of requiring more time when the string is created or interned.

In [134]:
s1 = "Mayank"
s2 = "Mayank"

print(s1, id(s1))
print(s2, id(s2))
print(s1 is s2)

Mayank 4466713072
Mayank 4466713072
True

In [135]:
s1 = "Mayank_Johri"
s2 = "Mayank_Johri"

print(s1, id(s1))
print(s2, id(s2))
print(s1 is s2)

Mayank_Johri 4466716080
Mayank_Johri 4466716080
True

In [136]:
s1 = "a"*21
s2 = "aaaaaaaaaaaaaaaaaaaaa"

print(s1, id(s1))
print(s2, id(s2))
print(s1 is s2)
print(s1 == s2)

aaaaaaaaaaaaaaaaaaaaa 4466802080
aaaaaaaaaaaaaaaaaaaaa 4466802080
True
True

In [137]:
s1 = "a"*100
s2 = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

print(s1, id(s1), len(s1))
print(s2, id(s2), len(s2))
print(s1 is s2) # Same 
print(s1 == s2) # Equal

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 4466807312 100
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 4466807312 100
True
True

In [138]:
s1 = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
s2 = "aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"

print(s1, id(s1), len(s1))
print(s2, id(s2), len(s2))
print("Same:", s1 is s2) # Same 
print("Equal:", s1 == s2) # Equal

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 4466994672 101
aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa 4467003440 101
Same: False
Equal: True

By default only strings with single word are stored in intern memory

In [139]:
s1 = "M "
s2 = "M "

print(s1, id(s1))
print(s2, id(s2))
print(s1 is s2)
print(s1 == s2)

M  4466898288
M  4466898544
False
True

But if you run the above code through a file, then it might not be true.

In [140]:
s1 = " "
s2 = " "

print(s1, id(s1))
print(s2, id(s2))
print(s1 is s2)
print(s1 == s2)

  4432948080
  4432948080
True
True

NOTE: Special Chac's matter and not the size

Forcefully using same instance

In [141]:
from sys import intern

s1 = intern("Mayank  Johri")
s2 = intern("Mayank_Johri")
s3 = intern("Mayank  Johri")

print(s1, id(s1))
print(s2, id(s2))
print(s3, id(s3), s1 is s3)

Mayank  Johri 4466867888
Mayank_Johri 4466865008
Mayank  Johri 4466867888 True

In [1]:
j = intern("Rahul Johri")
j1 = intern("Rahul Johri")
print(j, id(j))
print(j1, id(j1), j is j1)
print(s1, id(s1))

NameError: name 'intern' is not defined

#### Misc

In [13]:
s = "Welcome, We are students of Python, We still learning. We are"

d = s.split("We are")
print(d)
lst = []
for index, a in enumerate(d):
    print(index)
    if index > 1:
        lst.append("We are")
    lst.append(a)
    print(lst)

print(lst)
x = "".join(lst)
print(x)

['Welcome, ', ' students of Python, We still learning. ', '']
0
['Welcome, ']
1
['Welcome, ', ' students of Python, We still learning. ']
2
['Welcome, ', ' students of Python, We still learning. ', 'We are', '']
['Welcome, ', ' students of Python, We still learning. ', 'We are', '']
Welcome,  students of Python, We still learning. We are

### References

- https://www.python.org/dev/peps/pep-3101/
- https://en.wikipedia.org/wiki/String_interning
- https://en.wikipedia.org/wiki/Escape_character
- https://en.wikipedia.org/wiki/Escape_sequences_in_C