## `set`

Set data type is
- an unordered collection of **unique values**
- have only hashables elements (i.e. immutables such as int, bool, string, tuple etc)

It can be defined using `{ }` pair as shown in the below example

In [1]:
# Example
d = {1, 2, (1, 2), "welcome"}

Other datatypes such as `tuple` and `list` can be converted to set using `set` function as shown below

In [2]:
user_names = ["Mayank", "Roshan", "Pauly", "Manish", "Mayank"]

unique_users = set(user_names)
print(unique_users)

{'Manish', 'Pauly', 'Mayank', 'Roshan'}

In the above example, In `list` `user_names` element `Mayank` was having multiple instances but once `set` `unique_users` was created using the `user_names`. All multiple instances of elements were missing from the resulting `set` `unique_users`.  

`set` is mostly used in finding unique values from a collection.

In [3]:
# Example: Converting tuple to set
user_names = ("Mayank", "Roshan", "Pauly", "Manish", "Mayank")

unique_users = set(user_names)
print(unique_users)

{'Manish', 'Pauly', 'Mayank', 'Roshan'}

In [4]:
# Example, converting dict to set,
# In the resulting set only keys are used. 
d = {1: 2, 11: 3}
keys = set(d)
print(keys)

{1, 11}

### Operations

#### `add`

It allows to add an element to a set as shown in the below example.

In [5]:
names = {'Manish', 'Pauly', 'Roshan', 'Mayank'}

names.add("Kirti")
print(names)

{'Kirti', 'Mayank', 'Roshan', 'Manish', 'Pauly'}

In [6]:
names.add(("Rajeev", "Sonali"))
print(names)

{'Kirti', ('Rajeev', 'Sonali'), 'Mayank', 'Roshan', 'Manish', 'Pauly'}

### `clear`

Clears all the elements from the set

In [7]:
places = {'Budd Lake', 'Bhopal', "Thane", "tel aviv"}
places.clear()
print(places)

set()

### `copy`

`copy` return a shallow copy of a set.

In [8]:
places = {'Budd Lake', 'Bhopal', "Thane", "tel aviv"}

places_copy = places.copy()
print(id(places), places)
print(id(places_copy), places_copy)

4422516288 {'Budd Lake', 'tel aviv', 'Thane', 'Bhopal'}
4422515168 {'Budd Lake', 'tel aviv', 'Thane', 'Bhopal'}

### `difference`

It returns a new set with all the elements in main set but not in the other set(s) as shown in below examples

In [9]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}

print(coll_names.difference(dms_names))

{'Manish', 'Gajendra'}

In [10]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
friends = {'Manish', "Rajeev"}

print(coll_names.difference(dms_names, friends))

{'Gajendra'}

### `difference_update`

`difference_update` is similar to `difference` except 
- It updates existing `set` instead of creating a new `set`
- It do not return any value.

In [11]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
print(coll_names.difference_update(dms_names))
print(coll_names)

None
{'Manish', 'Gajendra'}

### `discard`

`discard` removes the element from a set if it is a member. If the element is not a member, do nothing

In [125]:
dms_names = {"Gyan", "Rajeev", "Sachin", "Syed"}

d = dms_names.discard("Syed")
print(dms_names, d)

{'Gyan', 'Rajeev', 'Sachin'} None

### `intersection`

`intersection` creates a new `set` based on the intersection of two sets.

In [13]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}

In [14]:
print(coll_names.intersection(dms_names))

{'Rajeev'}

In [15]:
print(dms_names.intersection(coll_names))

{'Rajeev'}

### `symmetric_difference`

`symmetric_difference` returns a new `set` with elements which are only in one of the `set's`. It can be understood as reverse of `intersection`

In [126]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
print(coll_names.symmetric_difference(dms_names))

{'Gyan', 'Gajendra', 'Manish', 'Sachin'}

### `intersection_update`

`intersection_update` is similar to `intersection` except it updates the existing `set` and also it do not return any value.

In [124]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
ret_val = coll_names.intersection_update(dms_names)

print("ret_val: {}".format(ret_val))
print("coll_names: {}, dms_names: {}".format(coll_names, dms_names))

ret_val: None
coll_names: {'Rajeev'}, dms_names: {'Gyan', 'Rajeev', 'Sachin'}

#### `symmetric_difference_update`

In [123]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
ret_val = coll_names.symmetric_difference_update(dms_names)

print("ret_val: {}".format(ret_val))
print("coll_names: {}, dms_names: {}".format(coll_names, dms_names))

ret_val: None
coll_names: {'Gyan', 'Gajendra', 'Manish', 'Sachin'}, dms_names: {'Gyan', 'Rajeev', 'Sachin'}

### `isdisjoint`

`isdisjoint` returns `True` if two sets have a null intersection else returns `False`

In [17]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Rajeev", "Sachin"}
ret_val = coll_names.isdisjoint(dms_names)

print("ret_val: {}".format(ret_val))

ret_val: False

In [18]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Gyan", "Sachin"}
ret_val = coll_names.isdisjoint(dms_names)

print("ret_val: {}".format(ret_val))

ret_val: True

### `issubset`

`issubset` returns `True` if second `set` is subset of the `first`

In [19]:
coll_names = {'Manish', 'Gajendra', "Rajeev"}
dms_names = {"Rajeev", "Gajendra"}
ret_val = coll_names.issubset(dms_names)

print("ret_val: {}".format(ret_val))

ret_val: False

In [20]:
coll_names = {'Gajendra', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
ret_val = coll_names.issubset(dms_names)

print("ret_val: {}".format(ret_val))

ret_val: True

### `issuperset`

`issuperset` returns `True` if first `set` is subset of the second `set`

In [21]:
coll_names = {'Gajendra', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
ret_val = dms_names.issuperset(coll_names)

print("ret_val: {}".format(ret_val))

ret_val: True

In [22]:
coll_names = {'Gajendra', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
ret_val = coll_names.issuperset(dms_names)

print("ret_val: {}".format(ret_val))

ret_val: False

### `pop`

`pop` will remove an return an arbitrary set element

In [23]:
dms_names = {'Manish', "Rajeev", "Gajendra"}
poped_element = dms_names.pop()
print(dms_names, poped_element)

{'Gajendra', 'Rajeev'} Manish

### `remove`

Removed an element from the set, `KeyError` is raised if the element is not member of the `set`

In [112]:
dms_names = {'Manish', "Rajeev", "Gajendra"}
poped_element = dms_names.remove("Manish")
print(dms_names, poped_element)

{'Gajendra', 'Rajeev'} None

In [114]:
dms_names = {'Manish', "Rajeev", "Gajendra"}
try:
    poped_element = dms_names.remove("Manish1")
except Exception as e:
    print("Error: {}".format(e))

Error: 'Manish1'

### `union`

`union` creates a new `set` by creating a union of two or more sets as shown in below examples

In [135]:
coll_names = {'Gajendra', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
d = coll_names.union(dms_names)
print(d)
print("coll_names: ", coll_names, "\ndms_names: ", dms_names)

{'Rajeev', 'Manish', 'Gajendra'}
coll_names:  {'Gajendra', 'Rajeev'}
dms_names:  {'Manish', 'Gajendra', 'Rajeev'}

In [136]:
coll_names = {'Gajendra b', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
sat = {'Alok', 'Chandu', "Rajeev"}
d = coll_names.union(dms_names, sat)
print(d)

{'Alok', 'Gajendra b', 'Rajeev', 'Manish', 'Chandu', 'Gajendra'}

### `update`

`update` is similar to `union` except updates the set itself instead of creating a newer one.

In [142]:
coll_names = {'Rishi', "Rajeev"}
dms_names = {'Manish', "Rajeev", "Gajendra"}
d = coll_names.update(dms_names)
print(d)
print("coll_names: ", coll_names, "\ndms_names: ", dms_names)

None
coll_names:  {'Rishi', 'Rajeev', 'Manish', 'Gajendra'}
dms_names:  {'Manish', 'Gajendra', 'Rajeev'}

### Accessing elements in set

Python do not have any direct method to get individual elements as set by defination is `A set object is an "unordered" collection of distinct hashable objects.`. We can use following methods to get the individual elements.

#### `for` loop

This is the most direct, easiest and fastest method of accessing elements from a `set`

In [25]:
dms_names = {"Gyan", "Rajeev", "Sachin", "Manish", "Vishal",
             "Manoj", "Arun", "Sunil", "Satish", "Satyendra"}
for names in dms_names:
    print(names)

Vishal
Sunil
Arun
Manoj
Gyan
Manish
Rajeev
Satish
Satyendra
Sachin

In [33]:
# Why its a bad idea to use index to get elements from set
# order in which they were created is not maintained.

def get_indxele(values, index):
    for indx, val in enumerate(values):
        print(indx, val)
        if indx == index:
            return val
        
print(get_indxele(dms_names = {"Gyan", "Rajeev", "Sachin", "Manish", "Vishal",
             "Manoj", "Arun", "Sunil", "Satish", "Satyendra"}, 2))
print(get_indxele(dms_names, 1))

0 Vishal
1 Sunil
2 Arun
Arun
0 Vishal
1 Sunil
Sunil

#### `next`

In [73]:
print(next(iter(dms_names)))

Vishal

#### `iter(set).__next__()`

In [97]:
print(iter(dms_names).__next__())

Vishal

#### `list(set)`

In [39]:
print(list(dms_names)[0])

Vishal

#### `random.sample`

In [72]:
from random import sample

print(sample(dms_names, 1))

['Vishal']

#### `pop`

In [110]:
dms_names = {"Gyan", "Rajeev", "Sachin", "Manish", "Vishal",
             "Manoj", "Arun", "Sunil", "Satish", "Satyendra"}

def get_emement(obj):
    ret_val = obj.pop()
    obj.add(ret_val)
    return ret_val
print(get_emement(dms_names))

Vishal